#printElement,
#printButton {
  margin-left: 10px;
}
.colhead { font-weight: bold; }
.col-sm-2 {
  padding: 0px;
}
.col-sm-3 {
  padding: 0px;
}
.col-sm-4 {
  padding: 0px;
}
.col-sm-5 {
  padding: 0px;
}
.col-sm-6 {
  padding: 0px;
}
.col-sm-12 {
  padding: 0px;
}