{% assign flowUrl = settings['SendEmailToCDCEStaffUrl'] %}

<form id="liquid_form">
    <div class="breadcrumb">
        {% block breadcrumbs %}
        {% include 'Breadcrumbs' %}
        {% endblock %}
    </div>
    <main>
        <div>
            <div>
                <div>
                    <section>
                        <div class="feature">
                            <h2>Send an Email to the CDCE Staff</h2>
                        </div>
                        <div>
                            <fieldset>
                                <!--<legend>Fill in all the required fields before clicking Send</legend>-->
                                <div class="usa-row">
                                    <div class="info required">
                                        <label for="toAddress" class="field-label">To</label>
                                    </div> 
                                    <div class="control">
                                        <input id="toAddress" type="email">
                                    </div>
                                </div>
                                <div class="usa-row">
                                    <div class="info required">
                                        <label for="subject" class="field-label">Subject</label>
                                    </div> 
                                    <div class="control">
                                        <input id="subject" type="text">
                                    </div>
                                </div>
                                <div class="usa-row">
                                    <div class="info required">
                                        <label for="body" class="field-label">Body</label>
                                    </div> 
                                    <div class="control">
                                        <input id="body" type="text">
                                    </div>
                                </div>
                                <div class="usa-row">
                                    <div class="usa-form">
                                        <div class="entity-action-button">
                                            <input id="send" class="usa-button" type="button" value="Send" onclick="window.sendMessage('{{ flowUrl }}')" />
                                            <input id="reset" class="usa-button" type="reset" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</form>
